* {
    background-color: #C1E7E3;
}

.home {
    text-align: center;
}

.home-recipes {
    display: inline-block;
    text-align: left;
}

nav {
    text-align: center;
}

.title,
.description {
    text-align: center;
}

.title {
    font-size: 48px;
    margin-bottom: 0%;
}

.description {
    font-size: 16px;
    font-style: italic;
}

img {
    /* Center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 1.5%;
}

.ingredients,
.instructions {
    box-sizing: border-box;
    display: inline;
    float: left;
    margin: 20px;
    padding: 25px;
    border: 10px;
    width: 45%;
    font-size: 24px;
}

.ingredients h2,
.instructions h2 {
    text-align: center;
}

.ingredients {
    text-align: center;
}

.ingredients ul {
    display: inline-block;
    text-align: left;
}

.instructions li {
    margin: 20px;

}